@import "mixin";

/* red */
@color1: #D72229;
@color1b: #FF2831;

/* yellow */
@color2: #FFFB42;

/* blue */
@color3: #1378B2;
@color3b: #0C86CC;


@listborder: #BDBDBD;
@listtext: #212121;
@listtitle: #d72229;
@listbackground: #FFF;
@pagebackground: @color3;



body {
  margin-top:80px;
  background-color: @pagebackground;
  background-image: url('http://www.transparenttextures.com/patterns/bright-squares.png');
}


/* hack for the navigation to shift the list not to be overriden by the logo */
@media (max-width: 767px) {
  #navbar-collapse > ul li {
    margin-left: 100px;
  }

}

.row-soft-padding { 
  margin-right: 8px;
  margin-left: 8px;
  [class*="col-"] {
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 15px !important;
  }
}

div.pagination {
  ul {
    list-style-type: none;
  }
  
  li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;

    &.disabled {
      display: none;
    }
  }
}

#movie-list {
  .form {
    display: block;
    form input[type='text'] {
      width: 196px;
    }
  }
}

#customlist-list article > div > div {
  min-height: 610px;

  table tr td:first-child {
    width: 100%;
  }
}

div.customlist {
  border: 1px solid @listborder;
  background-color: @listbackground;
  .box-shadow(3px 2px 0px 0px @listborder);
  .border-radius(5px);
  color: @listtext;

  > div.pagination-container {
    text-align: center;
  }


  h2 {
    font-size: 15px;
    font-weight: bold;
    color: @listtitle; 
    text-align:center;
  }
}
