@import "mixin";

@brown:  #462E01;
@dark:   #232323;
@orange: #DC9103;
@light:  #CCC;

body {
  margin-top:99px;
}


div.pagination ul {
  list-style-type: none;
}

div.pagination li.disabled {
  display: none;
}

div.pagination li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}
#movie-list .form {
  display: block;
}

#movie-list .form form input[type='text'] {
  width: 196px;
}



