doctype html
html(lang="en", ng-app="movvizApp", ng-strict-di)
  head
    meta(charset='utf-8')
    meta(name='fragment', content='!')
    base(href="/")
    title= Movviz
    link(rel='stylesheet', href='public/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='public/vendor/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet', href='public/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='public/css/main.min.css')
  body
    include nav.jade
    .container
      div(ng-view)

    script(src='public/vendor/jquery/jquery.min.js')
    script(src='public/vendor/bootstrap/scripts/bootstrap.min.js')
    script(src='public/vendor/angular/angular.min.js')
    script(src='public/vendor/angular-bootstrap/ui-bootstrap.min.js')
    script(src='public/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='public/vendor/angular-route/angular-route.min.js')
    script(src='public/vendor/satellizer/satellizer.min.js')
    script(src='public/scripts/movviz.min.js')
