doctype html
html(lang="en", ng-app="movvizApp", ng-strict-di)
  head
    meta(charset='utf-8')
    meta(name='fragment', content='!')
    base(href="/")
    title= Movviz
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='public/css/main.css')
  body
    include nav.jade
    .container
      div(ng-view)

    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js')
    script(src='public/scripts/movviz.min.js')
