<div class = "input-group">
  <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
    <div class="file-caption-name" title="">{{caption}}</div> 
  </div> 
  <div class="input-group-btn">
    <button type="button" title="Abort ongoing upload" class="hide btn btn-default fileinput-cancel fileinput-cancel-button">
      <i class="glyphicon glyphicon-ban-circle"></i> Cancel
    </button>
    <button type="submit" title="Upload selected files" class="btn btn-default kv-fileinput-upload fileinput-upload-button" > 
      <i class="glyphicon glyphicon-upload"></i> Upload
    </button>
    <div class="btn btn-primary btn-file">
      <i class="glyphicon glyphicon-folder-open"></i>  &nbsp;Browse… 
      <input id="input-file" type="file" class="file">
    </div> 
  </div> 
</div>
