#movie-list.row
  .col-xs-10
    article(ng-show='movies.length')
      ul(id='movie-list')
        li(ng-repeat='movie in movies')
          .view
            span
              {{movie.title}} ({{movie.year}})
            span
              {{movie.rating}}
            span
              a(href='#/movie/{{movie._id}}/')
                [+] more
      pagination
  
  .form.col-sm-2
    form(ng-submit='search()')
      .form-group
        input(type='text', class='form-control', ng-model='searchPatternForm', placeholder='Search')
      .form-group
        input(type='submit', value="Go!")



